@import '../../styles/queryMixin';

footer {
  background-image: url("https://i.pinimg.com/originals/3b/26/fa/3b26fa4b4dd3d86f4f235ed1e9116612.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  min-height: 100%;
  
  @include tablet{
    background-image: url("https://www.wallpapertip.com/wmimgs/9-97154_rick-and-morty-wallpaper-phone-with-high-resolution.jpg");

  }
  @include desktop{
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/200/433/178/rick-and-morty-cartoons-tv-shows-hd-wallpaper-preview.jpg");

  }
  & div {
      margin-top: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
    & h2 {
      color: rgb(22, 187, 0);
      font-size: 150%;
      margin: 10px;
      background-color: rgb(0, 0, 0,0.7);
      width: fit-content;
    }
    & p {
        color: rgb(22, 187, 0);
      font-size: 150%;
      background-color: rgb(0, 0, 0,0.7);
      border: 1px solid black;
      padding: 10px;
      margin: 0% 1% 3% 1%;
    }
  }
}
