<footer>
  <div>
    <h2>ABOUT</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta maiores
      veniam delectus nobis dolorum, labore, reiciendis accusamus laborum natus
      veritatis nam pariatur, voluptas aliquid! Deserunt adipisci omnis fugit
      natus quo.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta maiores
      veniam delectus nobis dolorum, labore, reiciendis accusamus laborum natus
      veritatis nam pariatur, voluptas aliquid! Deserunt adipisci omnis fugit
      natus quo.
    </p>
  </div>
</footer>
