@import "../styles/queryMixin";

@mixin buttonCommon {
  position: sticky;
  top: 1%;
  margin: 1%;
  color: rgb(255, 230, 0);
  background-color: rgb(0, 0, 0);
  border: 2px solid green;
  font-size: 1.2em;
}
@mixin buttonQuery {
  background-color: black;
  color: chartreuse;
  font-size: 1.5em;
}

.n-button {
  left: 100%;
  z-index: 3;
  @include buttonCommon();
  @include bigMobile {
    @include buttonQuery();
  }
}

.p-button {
  right: 100%;
  @include buttonCommon();
  @include bigMobile {
    @include buttonQuery();
  }
}

.u-button {
  @include buttonCommon();
  left: 100%;
  z-index: 2;
  top:5%;
  @include bigMobile {
    @include buttonQuery();
    z-index: -1;
    top:5%;
  }
}
