@mixin background {
    background-size: cover;
    background-position:center;
    background-attachment: fixed;

}

@mixin displayFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@mixin buttonCommon{
    font-size: 150%;
    width: fit-content;
    align-self: center;
    background-color: black;
    border:1px solid rgb(0, 255, 34);
    color:rgb(0, 200, 0);
}

@mixin liCommon{
    list-style-type: none;
    text-align: center;
    width: fit-content;
    border:1px solid rgb(0, 255, 42);
    border-radius: 10%;
    margin: 1%;
    padding: 0%;
    font-size: 120%;
}

.ul{
    @include displayFlex();
    padding: 0%;
    &__li{
        @include displayFlex();
        @include liCommon();
        flex-direction: column;
        padding: 2%; 
        &--img{
            border-radius: inherit;
        }
        &--button{
            @include buttonCommon();
            margin:2% 0% 0% 0%;
            
        }
    }
}


.ulList{
    @include displayFlex();
    flex-direction: column;
    align-items: center;
    @include background();
    padding: 0%;
    &__li{
        @include liCommon();
        &--button{
           @include buttonCommon();
        }
    }
}