$bigMobile: 500px;
$tablet: 768px;
$desktop: 992px;
$large: 1200px;

@mixin bigMobile {
    @media only screen and (min-width: $bigMobile) {
      @content;
    }
}
@mixin tablet {
  @media only screen and (min-width: $tablet) {
    @content;
  }
}
@mixin desktop {
  @media only screen and (min-width: $desktop) {
    @content;
  }
}
@mixin large {
  @media only screen and (min-width: $large) {
    @content;
  }
}