<ul class='ulList'>
  <li class='ulList__li' *ngFor="let location of locations">
    <button class='ulList__li--button' [routerLink]="['/locations', location.id]">{{ location.name }}</button>
  </li>
</ul>
