@import '../../../styles/queryMixin';

.ulList{
    background-image: url('https://i.pinimg.com/550x/a9/e2/c4/a9e2c4f3330d1d994f37de37669546ef.jpg');
    background-size: cover;
    @include bigMobile{
        background-image: url('https://wallpapercave.com/wp/wp1822815.jpg');
    }
}