@import '../../../styles/queryMixin';

.ulList{
    background-image: url('https://www.enjpg.com/img/2020/rick-and-morty-26.jpg');
    background-size: cover;
    @include tablet {
        background-image: url('https://filmdaily.co/wp-content/uploads/2021/03/rickmorty-lede-3.jpg');

    }
}