<ul class='ulList'>
  <li class='ulList__li' *ngFor="let episode of episodes">
    <button class='ulList__li--button' [routerLink]="['/episodes',episode.id]">{{ episode.name }}</button>
  </li>
</ul>
