<button class='p-button' (click)='previousPage()'>PREV</button>
<button class='n-button' (click)='nextPage()'>NEXT</button>
<button class='u-button' (click)='up()'>UP</button>
<app-characters-gallery [characters]='characterList'></app-characters-gallery>