@import '../../styles/queryMixin';

div{
    position: absolute;
    top:0%;
    z-index:-1;
    width: 100%;
    display: flex;
    justify-content: center;
    img{
        width: 100%;
        @include bigMobile{
            width: 70%;
        }
        @include tablet{
            width: 60%;
        }
        @include desktop{
            width: 40%;
        }
        @include large{
            width: 40%;
        }
    }
    
}


