<button class='u-button' (click)='up()'>UP</button>


<div>
  <h3>NAME: {{ episodeDetail.name }}</h3>
  <p>AIR-DATE: {{ episodeDetail.air_date }}</p>
  <p>APPEARED:</p>
  <ul class='ul'>
    <li class='ul__li' *ngFor="let char of shownChar">
      <img class='ul__li--img' src="{{ char.image }}" />
      <p>{{ char.name }}</p>
    </li>
  </ul>
</div>
