@import '../../styles/queryMixin';

h1{
    color: rgb(9, 255, 0);
    text-align: center;
    font-size: 3em;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    @include tablet{
    }
    &  a{
        border: 1px solid #00be00;
        text-decoration: none;
        color: rgb(0, 255, 0);
        padding: 2px;
        margin: 1% 0% 2% 0%;
        font-size: 1.1em;
        @include tablet{
            margin: 1% 1% 2% 1%;
            font-size: 1.3em;
        }
    }
}