<header>
    <h1>Rick & Morty</h1>
</header>

<nav>
    <a routerLink='/home'>Home</a>
    <a routerLink='/characters'>Characters</a>
    <a routerLink='/episodes'>Episodes</a>
    <a routerLink='/locations'>Locations</a>
    <a routerLink='/about'>About</a>
</nav>