<button class='p-button' (click)='previousPage()'>PREV</button>
<button class='n-button' (click)='nextPage()'>NEXT</button>
<app-locations-gallery [locations]='locationList'[info]='info'></app-locations-gallery>
