
div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    &  img{
        margin: 5%;
        border:5px solid rgb(60, 255, 0);
        border-radius: 10%;
    }
    &  p{
        color: rgb(0, 209, 0);
        width: fit-content;
    }
}