<div>
  <img [ngStyle]="{'border-color':statusChangeColor()}" src="{{ characterDetail.image }}" alt="{{ characterDetail.name }}" />
  <p>NAME: {{ characterDetail.name }}</p>
  <p>GENDER: {{ characterDetail.gender }}</p>
  <p>STATUS: <span [ngStyle]="{'color':statusChangeColor()}">{{ characterDetail.status }}</span></p>
  <p>FROM: {{ characterDetail.origin.name }}</p>
  <p>LAST APPEARED: {{ characterDetail.location.name }}</p>
</div>
