<button class='u-button' (click)='up()'>UP</button>

<div>
  <p>NAME: {{ locationDetail.name }}</p>
  <p>TYPE: {{ locationDetail.type }}</p>
  <p>DIMENSION: {{ locationDetail.dimension }}</p>
  <p>RESIDENTS:</p>
  <ul class='ul'>
    <li class='ul__li' *ngFor="let resident of residentsLoc">
      <img class='ul__li--img' src="{{ resident.image }}" />
      <p>{{ resident.name }}</p>
    </li>
  </ul>
</div>
