
<ul class='ul'>
  <li class='ul__li' *ngFor="let character of characters">
    <img class='ul__li--img' src="{{ character.image }}" />
    <button class='ul__li--button' [routerLink]="['/characters', character.id]">
      {{ character.name }}
    </button>
  </li>
</ul>
