/* You can add global styles to this file, and also import other style files */


@import './app/styles/gallery';
@import './app/styles/buttonPage';
@import './app/core/loading/loading.component.scss';

@import './app/@pages/about/about.component.scss';

body{
    margin:0%;
    padding: 0%;
    background-color: black;
}


